<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline'"
    />
    <title>智能家居编辑器 - 金鼎阅府 KNX 专用 by 小光</title>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
